//  Fonts
 $primary-font:'Open Sans',sans-serif;
 $titte-font:'Raleway',sans-serif;

//  Colors
$primary-color: #555555;
$header-color:#ffffff;


$acent-color:#FF6C00;
$alternative-color: #ffffff;
$logo-color:#303030;


// Functions
$transition-time: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
